.todo-list-heading{
  text-align:center;
  color:#282c34;
}

.list-container{
  position: relative; 
  left: 255px; 
}

.todo-btn{
  color:aliceblue;
  text-align: center;
  width: 60px;
  height: 25px;
  background-color: #f44336;
  border: solid;
  border-color: #f44336;
  border-width: 1px;
  border-radius: 3px;
  
}

.todo-btn:hover{
  color:#f44336;
  background-color: #ffffff;
  border: solid;
  border-color: #f44336;
  border-width: 1px;
  border-radius: 3px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
